/* Override some defaults */html, body
{
    background-color: #eee;
}

@font-face
{
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400 !important;
    src: local('Muli'), url(/Content/fonts/muli400.woff) format('woff');
}


*
{
    font-family: 'Muli' , sans-serif, Candara, Calibri,Times New Roman !important;
}
body
{
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container
{
    width: 940px;
}
.container > footer p
{
    padding : 5px;
    text-align: center; /* center align it with the container */
}
/* The white background content wrapper */.container > .content
{
    background-color: #fff;
    padding: 20px; 
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    min-height: 300px;
}
/* Page header tweaks */.page-header
{
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}
/* Give a quick and non-cross-browser friendly divider .content .span4*/
{
    margin-left: 0;
    padding-left: 19px; /*border-left: 1px solid #eee;*/
}

.form-horizontal .control-label
{
    text-align: left;
}

.topbar .btn
{
    border: 0;
}
.form-actions
{
    margin-left: 150px;
}

a.external
{
    background: url(images/linkexternal.png) center right no-repeat;
    padding-right: 13px;
}

label[disabled] {
  background-color: #eeeeee;
  border-color: #ddd;
  cursor: not-allowed;
}

/* -- Slider --*/

/* Primary BACKGROUND */
.primary-bgcolor, a.ui-btn-big, .newsbox .feedList h4 a:hover, #slider #imageSliderNav a.activeSlide
{
    background-color: #000;
    color: #FFF;
}

#slider
{
    width: 100%;
    clear: both;
    
}
#slider #imageSlider
{
    padding: 0px;
    width: 100%;
}
#slider .imageSlide
{
    padding: 0px;
    width: 100%;
}
#slider .imageSliderInfo
{
    color: #444;
    float: right;
    width: 370px;
    margin-right: 9px;
}
#slider .imageSliderInfo h2
{
    color: #666;
    font-size: 26px;
}
#slider .imageSliderInfo p
{
    color: #666;
    font-size: 20px;
}
#slider .imageSliderImage
{
    float: left;
    padding: 17px;
    padding-bottom: 27px;
}
#slider .imageSliderImage img
{
    border: 3px #FFF solid;
}
#slider #imageSliderNav
{
    float: left;
    text-align: center;
    width: 540px;
}
#slider #imageSliderNav a
{
    background-image: url(images/imageSliderNav.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #dee4e4;
    text-indent: -9000px;
    display: inline-block;
    height: 20px;
    width: 20px;
}
#slider #imageSliderNav a.activeSlide
{
}

/* page footer */
.page-footer
{
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #f5f5f5;
    padding: 10px 20px 10px;
    margin: -10px -20px;
}

#textContent p
{
    text-align: justify;
}

/* Pager */
.pager
{
    margin: 8px 3px;
    padding: 3px;
    text-align:left;
}

.pager .disabled
{
    border: 1px solid #ddd;
    color: #999;
    margin-top: 4px;
    padding: 3px;
    text-align: left;
}

.pager .current
{
    background-color: #6ea9bf;
    border: 1px solid #6e99aa;
    color: #fff;
    font-weight: bold;
    margin-top: 4px;
    padding: 3px 5px;
    text-align: left;
}

.pager span, .pager a
{
    margin: 4px 3px;
}

.pager a
{
    border: 1px solid #aaa;
    padding: 3px 5px;
    text-align: left;
    text-decoration: none;
}

/* changes done in th prev version of bootstrap */

.breadcrumbmenu
{
    padding: 7px 14px;
    margin: 0 0 18px;
}
.breadcrumbmenu li
{
    display: inline;
    text-shadow: 0 1px 0 #ffffff;
}
.breadcrumbmenu .divider
{
    padding: 0 5px;
    color: #bfbfbf;
}
.breadcrumbmenu .active a
{
    color: #404040;
}

.topbar div > ul a.menu:hover, .nav a.menu:hover, .topbar div > ul li.open .menu, .nav li.open .menu, .topbar div > ul .dropdown-toggle:hover, .nav .dropdown-toggle:hover, .topbar div > ul .dropdown:hover .dropdown-toggle, .nav .dropdown:hover .dropdown-toggle
{
    background: #444;
    background: rgba(255, 255, 255, 0.05);
}

.open .menu, .dropdown:hover .menu, .open .dropdown-toggle, .dropdown.open .dropdown-toggle
{
    color: #ffffff;
    background: #ccc;
    background: rgba(0, 0, 0, 0.3);
}
.open .menu-dropdown, .dropdown.open .menu-dropdown, .open .dropdown-menu, .dropdown:hover .dropdown-menu
{
    display: block;
}

.tabs li.open a.menu:after, .tabs .dropdown:hover .dropdown-toggle:after
{
    border-top-color: #555;
}

.focused {
  border-color: rgba(82,168,236,.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
     -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
          box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
  outline: 0;
}

disabled {
  background-color: #eeeeee;
  border-color: #ddd;
  cursor: not-allowed;
}

label.disabled, span.disabled, a.disabled{
    color: #aaa; 
    /* background-color: #eeeeee; border-color: #ddd; cursor: not-allowed;  */
}

.container-fluid > footer p
{
    padding : 5px;
    text-align: center; /* center align it with the container */
}
/* The white background content wrapper */
.container-fluid > .content
{
    background-color: #fff;
    padding: 20px; 
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    min-height: 300px;
}

.scratchOut
{
    background-image: url(images/ScratchOutIcon.png);
    background-repeat:no-repeat;
	/*background: url(images/ScratchOutIcon.png) no-repeat center center fixed;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width:100%;
    height:auto;
}
/* pointy button styles */
span.arrow {
    display: block;
    float: left;
    width: 0;
    height: 0;
    border:  15px solid transparent;
}

span.pointyButton {
    display: block;
    float: left;
    min-height:20px;
    line-height: 20px;
    padding: 3px;
    border-radius:3px;
    border: 2px solid transparent;
}​
/* rotation styles */
.rotate-45
{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -moz-transform: rotate(-45deg); /* Firefox */
    -o-transform: rotate(-45deg); /* Opera */
    -ms-transform: rotate(-45deg); /* IE 9 */
}

.rotate-15
{
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg); /* Safari and Chrome */
    -moz-transform: rotate(-15deg); /* Firefox */
    -o-transform: rotate(-15deg); /* Opera */
    -ms-transform: rotate(-15deg); /* IE 9 */
}

.rotate90 
{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -moz-transform: rotate(90deg); /* Firefox */
    -o-transform: rotate(90deg); /* Opera */
    -ms-transform: rotate(90deg); /* IE 9 */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.rotate180 
{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
    -moz-transform: rotate(180deg); /* Firefox */
    -o-transform: rotate(180deg); /* Opera */
    -ms-transform: rotate(180deg); /* IE 9 */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.rotate270 
{
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg); /* Safari and Chrome */
    -moz-transform: rotate(270deg); /* Firefox */
    -o-transform: rotate(270deg); /* Opera */
    -ms-transform: rotate(270deg); /* IE 9 */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/* opacity styles */
.opacity0{
    background-color:Transparent;
}
.opacity25{
    opacity:0.25;
    filter:alpha(opacity=25);
}
.opacity50{
    opacity:0.50;
    filter:alpha(opacity=50);
}
.opacity75{
    opacity:0.75;
    filter:alpha(opacity=75);
}

.row, .row-fluid
{
    margin-bottom:2px;
}
.row img,
.row-fluid img
{
    padding:2px;
}

.fieldset {
  padding: 1em;
  border: 2px solid black;
}

.legend {
  display: block;
  width: auto;
  padding: 5px;
  margin-bottom: 13px;
  font-size: auto;
  line-height: 15px;
  color: black;
  border: 0;
  border-bottom:none;
}

/* To set 100% width for jquery UI calendar */
.calendar .ui-datepicker {
    min-width:17em;
  width:100%;
}

/* Wire2app additional bootstrap table styles */
thead.header {
	background-color:#ADA5A3;
}

.table-vertical {
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
} 

.table-vertical th,
.table-vertical td {
  border-left: 1px solid #dddddd;
  border-right:1px solid #dddddd;
  border-bottom: 0px;
  border-top:0px;
}

.table-horizontal {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
} 

.table-horizontal th,
.table-horizontal td {
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.table-striped tbody tr.active td,
.table-condensed tbody tr.active th {
  background-color: #5C85FF;
}

/* styles to preserve previous top menu for bootstrap 2.1.0 version*/
#topMenu {
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

#topMenu .brand {
  color: #999999;
  text-shadow:none;
}

#topMenu .nav > li > a {
  float: none;
  padding: 9px 10px 11px;
  line-height: 19px;
  color: #999999;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}